body {
  background-color: #E7E7E7;
  background-image: url("../img/rag.png");
  background-repeat: repeat-x;
  padding: 2em 0;
  font-family: 'Unna', serif;
  font-size: 18px;
  line-height: 1.5em;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: normal;
}

#rag {

}
